<div class="menu-options-container">
  <div class="option-header">
    <div class="option-head left">
      <div class="form-group head">
        <label style="width:200px" for="option_name">Option Name</label>
        <input type="text" id="option_name" name="option_name" class="form-control form-control-sm" placeholder=".form-control-sm">
      </div>
    </div>
    <div class="option-head right">
      <div class="form-group head">
        <label style="width:200px" for="option_name">Allow customer to pick</label>
        <select name="select3" class="form-control form-control-sm menu-option">
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="3">3</option>
          <option value="2">4</option>
        </select>
      </div>
    </div>

    <div class="extra-option">
      <div class="opt">
        <div class="icon">
          <small className="text-muted" style="font-size: 65%;"> <i class="fa fa-remove fa-lg" style="vertical-align: 35%;"></i></small>
        </div>
        <span>optiune</span>
      </div>
      <div class="opt">
        <div class="icon">
          <small className="text-muted" style="font-size: 65%;"> <i class="fa fa-remove fa-lg" style="vertical-align: 35%;"></i></small>
        </div>
        <span>optiune</span>
      </div>
      <div class="opt">
        <div class="icon">
          <small className="text-muted" style="font-size: 65%;"> <i class="fa fa-remove fa-lg" style="vertical-align: 35%;"></i></small>
        </div>
        <span>optiune</span>
      </div>
      <div class="opt">
        <div class="icon">
          <small className="text-muted" style="font-size: 65%;"> <i class="fa fa-remove fa-lg" style="vertical-align: 35%;"></i></small>
        </div>
        <span>optiune</span>
      </div>
      <div class="opt">
        <div class="icon">
          <small className="text-muted" style="font-size: 65%;"> <i class="fa fa-remove fa-lg" style="vertical-align: 35%;"></i></small>
        </div>
        <span>optiune</span>
      </div>
      <div class="opt">
        <div class="icon">
          <small className="text-muted" style="font-size: 65%;"> <i class="fa fa-remove fa-lg" style="vertical-align: 35%;"></i></small>
        </div>
        <span>optiune</span>
      </div>
      <div class="opt">
        <div class="icon">
          <small className="text-muted" style="font-size: 65%;"> <i class="fa fa-remove fa-lg" style="vertical-align: 35%;"></i></small>
        </div>
        <span>optiune</span>
      </div>
      <div class="opt">
        <div class="icon">
          <small className="text-muted" style="font-size: 65%;"> <i class="fa fa-remove fa-lg" style="vertical-align: 35%;"></i></small>
        </div>
        <span>optiune</span>
      </div>


    </div>

    <div class="form-group row">
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" style="margin-left:10px" placeholder="{{ 'admin.restaurant_opt.name' | translate }}">
      </div>
      <div class="col-5">
        <input type="text" class="form-control form-control-sm" placeholder="{{ 'admin.restaurant_opt.price' | translate }}">
      </div>
      <button aria-pressed="true" class="form-group-row btn-sm btn-outline-default active col-2"
        type="button">
        <small className="text-muted"> <i class="fa fa-plus fa-lg"></i></small>
        {{ 'admin.add' | translate}}
      </button>
    </div>

  </div>

</div>