.menu-items-container {
    margin-top:5px;
    border-top: 2px dashed lightgray;
    padding:10px;
}

.menu-price-wrapper {
   display:block;
}

.menu-price-wrapper .price {
    margin-left:15px;
    display:inline-block; 
    width:150px
}

