<div class="area-container">
  <div id="map"></div>

  <div class="area-management">
    <div class="animated fadeIn"> 

      <edit-delivery-area *ngFor="let item of deliveryZones; let i = index"
          [restaurantId]="restaurantId"
          [deliveryZone]="item"
          [collapsed]="collapse[i]"
          (removed)="onRemoveZone($event)"
          (changeZone)="onChangeZone($event)">
      </edit-delivery-area>
      
      <add-delivery-area 
        [restaurantId]="restaurantId" 
        [coordinates]="coordinates" 
        [collapsed]="collapsed"
        (addZone)="addZone()" 
        (completed)="onAddComplete($event)">
      </add-delivery-area>
    </div>
  </div>
</div>