<div class="card">
    <div class="card-header" (click)="selectZone()">
        {{ deliveryZone.name }}
        <div class="card-header-actions">
            <a href="https://valor-software.com/ngx-bootstrap/#/collapse" target="_blank">
                <small className="text-muted"> <i class="fa fa-edit fa-lg"></i></small>
            </a>
        </div>
    </div>
    <div class="card-body" [collapse]="!isCollapsed">

        <div class="form-group ">
            <label class="title" for="delivery_name">{{ 'admin.delivery_area.name' | translate }}</label>
            <input type="text" class="form-control form-control-sm" id="delivery_name" placeholder="" [(ngModel)]="deliveryZone.name">
        </div>

        <div class="form-group ">
            <label class="title" for="delivery_charge">{{ 'admin.delivery_area.delivery_charge' | translate }}</label>
            <input type="text" class="form-control form-control-sm" id="delivery_charge" placeholder="" [(ngModel)]="deliveryZone.charge">
        </div>

        <div class="form-group">
            <div class="area-buttons">
                <button aria-pressed="true" (click)="remove(deliveryZone.id)" style="float:left"
                    class="btn btn-block btn-outline-danger active col-sm-3"
                    type="button">{{'admin.delete' | translate}}</button>
                <button aria-pressed="true" (click)="save()" style="float:right; margin:0"
                    class="btn btn-block btn-outline-success active col-sm-3"
                    type="button">{{ 'admin.save' | translate}}</button>
            </div>
        </div>
    </div>
</div>