<div class="manager-container">
    <div class="form-group ">
        <label class="title" for="name">{{ 'admin.manager.login_email' | translate }}</label>
        <input type="text" class="form-control form-control-sm" id="login_email" placeholder="">
    </div>
    
    <p style="font-size:12px;"><b>Note:</b> {{ 'admin.manager.note' | translate }}</p>
    
    <br>
    <div class="form-group" style="width:100px;">
      <div class="area-buttons">
        <button aria-pressed="true" class="btn-sm btn-block btn-outline-success active"
          type="button">{{ 'admin.save' | translate}}</button>
      </div>
    </div>
</div>