<div class="menu-wrapper" #boundary>

    <div cdkDropList class="menu-list" (cdkDropListDropped)="drop($event)">
        <app-menu-category *ngFor="let menu of menuItems" 
            class="menu-box" 
            [menuCategory]="menu" 
            (remove)="onRemoveMenu($event)"
            cdkDrag></app-menu-category>
        <add-menu-category (save)="onSaveMenuCategory($event)"></add-menu-category>
    </div>

    <div style="width: calc(70vw - 550px); margin-left:15px;">
        <div #spacer></div>
        <div class="right-section" sticky sticky-offset-top="70">
            <app-template-menu class="template-row"></app-template-menu>
            <app-template-menu class="template-row"></app-template-menu>
            <app-template-menu class="template-row"></app-template-menu>
        </div>
    </div>
</div>